 @page{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
size:8.35in 11.8in;
}

      .merit-bg {
        background-image: url(participation-bg.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    body{
      margin: 0;
    }
	 .merit-table {
              margin-top: 34%;
          }
		  .formsc{
		margin-top: 0;
	}
		  .merit-certificate {
    page-break-before: always;
}
    /*.merit-table {
      margin: 48% auto 0;
  }*/
    /*.label {
      font-size: 22px;
      color: #23408f;
      text-align: right;
      font-style: italic;
  }
  .merit-table td {
    padding: 8px 10px;
    vertical-align: baseline;
}
    .value{
      border-bottom: 1px dashed #d1d2d4;
      width: 100%;
    }
    */