/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

body {
	background: #2E5E79;
	color: #333;
	font-size: 11px;
	padding: 0 0 0px;
	overflow:hidden;
	
}
 

.leave-title {	font-family:Arial, Helvetica, sans-serif;font-size:20px;color:#000;font-weight:bold;text-decoration:underline;vertical-align:middle;}
.leave-block {margin-top:20px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding:20px;border:1px solid #c6c6c6;font-size:12px;
}
.leave-ser-no { color: #000000; font-family: Arial,Helvetica,sans-serif; font-size: 15px;font-weight: bold; line-height: 24px; padding-left: 10px; vertical-align: middle;
	padding:10px !important; }

table.formleavetxt{padding-top:10px;padding-bottom:0px !important; 	}
table.leaveapp td  {vertical-align:middle;padding:5px;font-weight:bold;}
.leaveapp-brd-tl{border-top:1px solid #666;border-left:1px solid #666;	}
.leaveapp-brd-tlr{	border-top:1px solid #666;	border-left:1px solid #666;	border-right:1px solid #666;}
.leaveapp-brd-tlb{	border-top:1px solid #666;	border-left:1px solid #666;	border-bottom:1px solid #666;	}
.leaveapp-brd-tlrb{border:1px solid #666;	}
.leave-type { font-size:15px; font-weight:bold; }

  .formsc input 
       {
           border:none;
           background:transparent;
           font-size: 10px;
           }
           
           .formsc textarea 
       {
           border:none;
           background:transparent;
           color:Black;
           }
           