@page{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
size:11in8.5in;
}

 body 
{
    margin:0px;
    padding:0px;
} 
 
/*td
 {
 height:20px !important ;
 }
 .addr
 {
     height:20px !important;
 }*/