@page{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
size:8.5in11in;
}

 body 
{
    margin:0px;
    padding:0px;
} 
 
td
 {
 height:40px !important ;
 }
 .addr
 {
     height:40px !important;
 }