<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certificate of Merit</title>
    <style>
      .merit-bg {
        
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    body{
      margin: 0;
    }
    .merit-table {
      margin: 52% auto 0;
  }
    .label {
      font-size: 22px;
      color: #23408f;
      text-align: right;
      font-style: italic;
  }
  .merit-table td {
    padding: 8px 10px;
    vertical-align: baseline;
}
    .value{
      border-bottom: 1px dashed #d1d2d4;
      width: 100%;
    }
    </style>
  </head>
  <body>
    <div class="merit-certificate">
        <table width='800px' border='0' cellspacing='0' cellpadding='0' class='merit-bg' style="background-image: url(merit-bg.jpg);">
            <tr>
                <td height='1130' align='center' valign='center'>
                  <table width='90%' border='0' cellspacing='0' cellpadding='0' class="merit-table">
                    <col width="35%"></col>
                    <col width="65%"></col>
                    <tr>
                      <td class="label">Name:</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Register No:</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Classic & Sec:</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Name of the Competition:</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Name of the Event:</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Date of Competition</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                    <tr>
                      <td class="label">Position</td>
                      <td> <div class="value"></div> </td>
                    </tr>
                  </table>
                </td>
            </tr>
        </table>
	  </div>

  </body>
</html>